<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/shStyles.css" >
<title>BabelShark- Our Students</title>

<style>td { 
    padding: 10px;
}</style>
</head>


<body>
<div id="wrapper">

			<header>
				<img id="logo" src="images/BabelShark.png" width="160px" height="80px" />
				<h1>BabelShark  </h1>
			</header>
			
		<nav><ul>
				<li> <a th:href="@{login}">Log in</a></li>
				<li><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{students}">Students</a></li>
				<li>Gallery</li>
			</ul>
		</nav>

		<main>
			
			<h2 th:text="${student.name}"></h2>
			
			<form action="#" th:action="@{/addgrade(studentid=${student.id})}" method="POST" th:object="${grade}">
			
			<p> Grade: <input type="text" th:field="*{grade}"	/></p>
			<p> Language: <input type="text" th:field="*{language}"/> </p>
			<p> Details: <input type="text" th:field="*{details}"/> </p>
			<p><input type="submit" value="Submit" /> <input type="reset" value="reset"/> </p>
			
			</form>
			
			
			
  
			<table id="gradeslist" border="1">
			<thead>
				<tr>
					<th >Language</th>
					<th >Grade</th>
					<th >Date</th>
					<th> Details </th>
				</tr>
			</thead>
    
			<tbody>
				<tr th:each="grade : ${student.grades}">
					<td th:text="${{grade.language}}">Language</td>
					<td th:text="${grade.grade}">Grade</td>
					<td th:text="${#dates.format(grade.date, 'dd-MMM-yyyy')}">Date</td>
					<td th:text="${grade.details}">Details</td>
				</tr>
      
			</tbody>
			</table>
			</div>

		</main>
		
		<footer style="float:bottom">All code and design by Bojan Dejanovic</footer>


</body>
</html>