<!doctype HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
 <meta charset="UTF-8">
<link rel="stylesheet" href="css/shStyles.css" >
</head>

<body>

		<div id="wrapper">
		
		<header>
		<img id="logo" src="images/BabelShark.png" width="160px" height="80px" />
		
		<h1>BabelShark  </h1></header>
		
		<nav><ul>
				<li> <a th:href="@{login}">Log in</a></li>
				<li><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{students}">Students</a></li>
				<li>Gallery</li>
			</ul>
		</nav>

		<main>
			<p>Welcome to BabelShark Home, a website for a fictitious Language school for foreign languages.
			The website is a demo of my IT knowledge: </p>
			<dl>
			<dt>Spring Boot, Spring MVC, Spring Security</dt>
			<dd>The base of the entire webapp. Controllers and such. Login and authorization.<br><br> </dd>
			<dt>JPA and Hibernate</dt><dd>Mapping objects to SQL tables.<br><br></dd>
			<dt>MySQL</dt><dd>The DB was first set up manually via SQL console. Not that I don't know
			how to plant it in a .sql file.<br><br></dd>
			<dt>HTML and CSS</dt><dd>Some pages are public, some are templates supplemented by Thymeleaf.<br><br></dd>
			<dt>Simple UI design</dt><dd>I'm not much of a visual artist, but hey, I designed that silly shark logo with Adobe illustrator.<br><br></dd>
			
			</dl>
			
			
			
					</main>
		
		<footer style="float:bottom">All code and design by Bojan Dejanovic</footer>

</div>
</body>
</html>