<!doctype HTML>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<title> BabelShark Homepage</title>
<meta name="author" content="Dejanovic Bojan">
<link rel="stylesheet" href="css/sharkStyles.css">
</head>

<body>

<h1 id= "mainCaption"> Welcome to BabelShark</h1>
  <main>

	<p>Please log in to continue... Won't do much good, still under construction.</p>
	<p> Login credentials are to be kept in MySQL DB, with proper roles for ADMIN, TEACHER and STUDENT, with their respective permissions.</p>
	
  <form action="#" th:action="@{/signin}" th:object="${user}" method="post">
    	<p>Username: <input type="text" th:field="*{username}" /></p>
        <p>Password: <input type="text" th:field="*{password}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
  
  
</main>

  
</body>
</html>
