<!doctype HTML>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<title> BabelShark Homepage</title>
<meta name="author" content="Dejanovic Bojan">
<link rel="stylesheet" href="css/sharkStyles.css">
</head>

<body>

<h1 id= "mainCaption"> Welcome to BabelShark</h1>
  <main>

	<p>Please log in to continue... Won't do much good, still under construction.</p>
	<p> Login credentials are to be kept in MySQL DB, with proper roles for ADMIN, TEACHER and STUDENT, with their respective permissions.</p>
	
 <form th:action="@{/login}" method="POST" class="form-signin">
			<h3 class="form-signin-heading" th:text="Welcome"></h3>
			<br/>
			 
			<input type="text" id="email" name="email"  th:placeholder="Email"
				class="form-control" /> <br/> 
			<input type="password"  th:placeholder="Password"
				id="password" name="password" class="form-control" /> <br /> 
				
			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
			</div>
			<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
</form>

<form th:action="@{/registration}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>
</form> 
  
  
</main>

  
</body>
</html>
