<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/shStyles.css" >
<title>BabelShark- Students' payments</title>
</head>


<body>
<div id="wrapper">

			<header>
				<img id="logo" src="images/BabelShark.png" width="160px" height="80px" />
				<h1>BabelShark  </h1>
			</header>
			
		<nav><ul>
				<li> <a th:href="@{login}">Log in</a></li>
				<li><a th:href="@{/}">Home</a></li>
				<li><a th:href="@{students}">Students</a></li>
				<li>Courses</li>
			</ul>
		</nav>
		
		<main>
			
			<h2 th:text="${student.name}"></h2>
			
			<form action="#" th:action="@{/addpayment(studentid=${student.id})}" method="POST" th:object="${payment}">
			
			<p> Quantity: <input type="text" th:field="*{quantity}"	/></p>
			
			<p><input type="submit" value="Add payment" /> <input type="reset" value="reset"/> </p>
			
			</form>
			<div th:with="total=${10500-paidfees}">
			<h3 th:text="|Remaining fees:${total}|">Remaining fees: </h3>
			</div>
	
			
			<table id="paymentslist" border="1">
			<caption>Payment history</caption>
			<thead>
				<tr>
					<th >Quantity</th>
					<th >Date</th>
				</tr>
			</thead>
    
			<tbody>
				<tr th:each="payment : ${student.payments}">
					<td th:text="${{payment.quantity}}">Payment</td>
					<td th:text="${#dates.format(payment?.date, 'dd-MMM-yyyy')}">Date</td>
				</tr>
      
			</tbody>
			</table>
		
	
		</main>
		
		<footer style="float:bottom">All code and design by Bojan Dejanovic</footer>

</div>
</body>
</html>