<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/shStyles.css" >
<title>BabelShark- Students' payments</title>
</head>


<body>
<div id="wrapper">

			<header>
				<img id="logo" src="images/BabelShark.png" width="160px" height="80px" />
				<h1>BabelShark  </h1>
			</header>
			
		<nav><ul>
				<li> <a th:href="@{login}">Log in</a></li>
				<li>Home</li>
				<li><a th:href="@{students}">Students</a></li>
				<li>Gallery</li>
			</ul>
		</nav>
		
		<main>
		
		
		
	
		</main>
		
		<footer style="float:bottom">All code and design by Bojan Dejanovic</footer>

</div>
</body>
</html>